* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    position: relative
}

.clock {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #222;
    position: relative;

}

.clock span {
    position: absolute;
   top: 50%;
   left: 50%;
   transform: 
   rotate(calc(30deg * var(--i)))
   translateY(-120px);
   transform-origin: center;
}

.clock span span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 22px;
    font-weight: bold;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(0deg);
}

.hour {
    width: 6px;
    height: 70px;
    background: #222;
    border-radius: 4px;
    z-index: 6;
}

.minute {
    width: 4px;
    height: 95px;
    background: #444;
    border-radius: 4px;
    z-index: 7;
}

.second {
    width: 2px;
    height: 110px;
    background: red;
    border-radius: 2px;
    z-index: 8;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: #222;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.mood-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #222;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}

body.dark {
    background: #121212;
}

body.dark .clock {
    background: #1e1e1e;
    border-color: #fff;
}

body.dark .clock span span {
    color: #fff;
}

body.dark .hour,
body.dark .minute {
    background: #fff;
}

body.dark .center-dot {
    background: #fff;
}

body.dark .mood-btn {
    background: #fff;
    color: #000;
}