* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.clock {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #222;
    position: relative;

}

.clock span {
    position: absolute;
   top: 50%;
   left: 50%;
   transform: 
   rotate(calc(30deg * var(--i)))
   translateY(-120px);
   transform-origin: center;
}

.clock span span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 22px;
    font-weight: bold;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(0deg);
}

.hour {
    width: 6px;
    height: 70px;
    background: #222;
    border-radius: 4px;
    z-index: 6;
}

.minute {
    width: 4px;
    height: 95px;
    background: #444;
    border-radius: 4px;
    z-index: 7;
}

.second {
    width: 2px;
    height: 110px;
    background: red;
    border-radius: 2px;
    z-index: 8;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: #222;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}