* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.clock {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #222;
    position: relative;

}

.clock span {
    position: absolute;
   top: 50%;
   left: 50%;
   transform: 
   rotate(calc(30deg * var(--i)))
   translateY(-120px);
   transform-origin: center;
}

.clock span span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 22px;
    font-weight: bold;
}